<%- include('../partials/admin') %>
<div class="container p-5">
	<div class="row">
		<div class="offset-md-3 col-md-6 col-12 col-sm-8 offset-sm-2 card bg-dark">
			<div class="card-body">
				<form action="/productos/<%= data.id %>/update" method="POST" enctype="multipart/form-data">
					<label class="form-label" style="color: white" for="">Nombre</label>
					<input type="text" name="nombre" placeholder="Nombre" value="<%= data.nombre%>" class="form-control mb-2" autofocus />
					<label style="color: white" class="form-label" for="">Descripcion</label>
					<input type="text" name="descripcion" value="<%= data.descripcion%>" placeholder="Descripcion" class="form-control mb-2" />
					<label style="color: white" class="form-label" for="">Precio</label>
					<input type="number" name="precio" value="<%= data.precio%>" placeholder="Precio" class="form-control mb-2" />
					<label style="color: white" class="form-label" for="">Imagen</label>
					<input type="file" accept="image/png,image/jpeg" id="urlImagen" name="imagen" value="/uploads/<%= data.urlImagen %>" class="form-control mb-2" autofocus />
					<img src="/uploads/<%= data.urlImagen %>" alt="<%= data.nombre %>" style="height: 150px; width: 150px" />
					<br />
					<label style="color: white" class="form-label" for="">Disponibilidad</label>
					<input type="number" name="disponibilidad" value="<%= data.disponibilidad%>" placeholder="Disponibilidad" class="form-control mb-2" />
					<button type="submit" class="btn btn-primary inline text-end">Actualizar Producto</button>
				</form>
			</div>
		</div>
	</div>
</div>
