<%- include('../partials/admin') %>
		<main class="full-screen container my-6">
			<h1 class="font-sans text-3xl">¡Bienvenido <b><%= name %></b>!</h1>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-4">
				<a class="flex flex-row gap-2 items-center justify-around bg-indigo-500 hover:bg-indigo-800 font-sans font-semibold text-white py-4 px-8 rounded-2xl shadow-lg transition-all duration-300" href="/productos">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-store" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<line x1="3" y1="21" x2="21" y2="21" />
						<path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4" />
						<line x1="5" y1="21" x2="5" y2="10.85" />
						<line x1="19" y1="21" x2="19" y2="10.85" />
						<path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" />
					</svg>
					PRODUCTOS
				</a>
				<a class="flex flex-row gap-2 items-center justify-around bg-indigo-500 hover:bg-indigo-800 font-sans font-semibold text-white py-4 px-8 rounded-2xl shadow-lg transition-all duration-300" href="/registros">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-presentation-analytics" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M9 12v-4" />
						<path d="M15 12v-2" />
						<path d="M12 12v-1" />
						<path d="M3 4h18" />
						<path d="M4 4v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-10" />
						<path d="M12 16v4" />
						<path d="M9 20h6" />
					</svg>
					VENTAS
				</a>
				<a class="flex flex-row gap-2 items-center justify-around bg-indigo-500 hover:bg-indigo-800 font-sans font-semibold text-white py-4 px-8 rounded-2xl shadow-lg transition-all duration-300" href="/usuarios">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<circle cx="9" cy="7" r="4" />
						<path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
						<path d="M16 3.13a4 4 0 0 1 0 7.75" />
						<path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
					</svg>
					USUARIOS
				</a>
			</div>
		</main>
	</body>
</html>