<%- include('../partials/admin') %>
<body style="background-color: #87cefa">
	<div class="container p-4">
		<div class="border-8 border-indigo-950 bg-indigo-900 rounded-3xl px-4 py-2">
			<h1 class="text-gray-100 text-4xl font-sans font-semibold mb-3">Administrador de Productos</h1>
			<form action="/add" method="POST" enctype="multipart/form-data">
				<div class="form-floating mb-3">
					<input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" />
					<label for="nombre">Nombre</label>
				</div>
				<div class="form-floating mb-3">
					<input type="text" name="descripcion" id="descripcion" placeholder="Descripcion" class="form-control" />
					<label for="descripcion">Descripcion</label>
				</div>
				<div class="form-floating mb-3">
					<input type="number" name="precio" placeholder="Precio" class="form-control" />
					<label for="precio">Precio</label>
				</div>
				<div class="form-floating mb-3">
					<input type="number" name="disponibilidad" placeholder="Disponibilidad" class="form-control" />
					<label for="disponibilidad">Disponibilidad</label>
				</div>
				<input type="file" accept="image/png,image/jpeg" id="urlImagen" name="urlImagen" class="form-control mb-3" />
				<div class="w-full flex justify-end items-center gap-4 mb-3">
					<button type="submit" class="bg-green-500 hover:bg-green-700 font-sans font-semibold text-white py-2 px-4 rounded-md shadow-lg transition-all duration-300 text-center">Guardar Producto</button>
					<a type="submit" href="/productos" class="bg-teal-500 hover:bg-teal-700 font-sans font-semibold text-white py-2 px-4 rounded-md shadow-lg transition-all duration-300 text-center">Mostrar Todos</a>
				</div>
			</form>
			<form method="GET" action="/buscar" class="mb-3">
				<div class="input-group">
					<input type="text" name="q" placeholder="Busque el ID..." class="form-control" />
					<button type="submit" class="btn btn-outline-secondary">Buscar</button>
				</div>
			</form>
			<table class="table table-dark table-bordered table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Descripción</th>
						<th>Precio</th>
						<th class="w-[150px]">Imagen</th>
						<th>Disponibilidad</th>
						<th>Estado</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<% if (data) { %> <% for(var i=0; i < data.length; i++) { %>
					<tr>
						<td><%= data[i].id %></td>
						<td><%= data[i].nombre %></td>
						<td><%= data[i].descripcion %></td>
						<td><%= data[i].precio %></td>
						<td><img src="/uploads/<%= data[i].urlImagen %>" class="w-[150px] h-[150px] object-cover" alt="<%= data[i].nombre %>"/></td>
						<td><%= data[i].disponibilidad %></td>
						<td class="grid place-items-center h-[167px]">
						<% if(data[i].estado === 'activado') { %>
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check block m-auto" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
								<circle cx="12" cy="12" r="9" />
								<path d="M9 12l2 2l4 -4" />
							</svg>
						<% } else { %>
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-x block m-auto" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
								<circle cx="12" cy="12" r="9" />
								<path d="M10 10l4 4m0 -4l-4 4" />
							</svg>
						<% } %>
						</td>
						<td>
							<div class="grid gap-y-2 grid-rows-3 h-[150px]">
								<a href="/estado/<%= data[i].id %>" class="bg-indigo-500 hover:bg-indigo-800 font-sans font-semibold text-white py-2 px-4 rounded-md shadow-lg transition-all duration-300 text-center">Estado</a>
								<a href="/update/<%= data[i].id %>" class="bg-green-500 hover:bg-green-700 font-sans font-semibold text-white py-2 px-4 rounded-md shadow-lg transition-all duration-300 text-center">Editar</a>
								<a href="/delete/<%= data[i].id %>" class="bg-red-500 hover:bg-red-700 font-sans font-semibold text-white py-2 px-4 rounded-md shadow-lg transition-all duration-300 text-center">Eliminar</a>
							</div>
						</td>
					</tr>
					<% } %> <% } %>
				</tbody>
			</table>
		</div>
	</div>
</body>
