<%- include('../partials/admin') %>
<main class="container full-screen p-6">
	<div class="border-8 border-indigo-950 bg-indigo-900 rounded-3xl px-4 py-2">
		<h1 class="text-gray-100 text-4xl font-sans font-semibold mb-3">Administrador de ventas</h1>
		<table class="table table-dark table-bordered table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Usuario</th>
					<th>Método Pago</th>
					<th>Total Compra</th>
					<th>Fecha</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<% if (data) { %> <% for(var i=0; i < data.length; i++) { %>
				<tr>
					<td><%= data[i].id %></td>
					<td><%= data[i].usuario %></td>
					<td><%= data[i].metodoPago %></td>
					<td><%= data[i].total %></td>
					<td><%= data[i].fecha %></td>
					<td style="white-space: nowrap">
						<a href="/deleteVenta/<%= data[i].id %>" class="btn btn-danger me-2">Eliminar</a>
					</td>
				</tr>
				<% }} %>
			</tbody>
		</table>
	</div>
</main>
