<%- include('../partials/admin') %>
<main class="container full-screen p-6">
	<div class="border-8 border-indigo-950 bg-indigo-900 rounded-3xl px-4 py-2">
		<h1 class="text-gray-100 text-4xl font-sans font-semibold mb-3">Administrador de usuarios</h1>
		<table class="table table-dark table-bordered table-hover">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Email</th>
					<th>Domicilio</th>
					<th>Telefono</th>
					<th>Rol</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<% if (data) { %> <% for(var i=0; i < data.length; i++) { %>
				<tr>
					<td><%= data[i].name %></td>
					<td><%= data[i].email %></td>
					<td><%= data[i].domicilio %></td>
					<td><%= data[i].telefono %></td>
					<td><%= data[i].tipo %></td>
					<td class="" style="white-space: nowrap">
						<a href="/deleteUsuario/<%= data[i].email %>" class="btn btn-danger me-2">Eliminar</a>
					</td>
				</tr>
				<% } %> <% } %>
			</tbody>
		</table>
	</div>
</main>
