@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.collapse {
	@apply visible;
}

.vpheight {
	min-height: calc(100vh - 56px);
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #03045e #dfe9eb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
	width: 8px;
	width: 8px;
}
*::-webkit-scrollbar-track {
	border-radius: 20px;
	background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
	background-color: #ccd6d8;
}

*::-webkit-scrollbar-track:active {
	background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: #03045e;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #023e8a;
}

*::-webkit-scrollbar-thumb:active {
	background-color: #0077b6;
}
