<%- include('../partials/main') %>
<main class="container full-screen py-12">
    <div class="row bg-[#98FB98] rounded-lg shadow-lg">
        <div class="col-12 col-xl-6 p-4">
            <h1 class="m-0 mb-2">Preguntas Frecuentes</h1>
            <h2 class="m-0 mb-2">¿Cuáles son los sabores de helado disponibles?</h2>
            <p style="text-align: justify">En Helados Arias ofrecemos una amplia variedad de sabores de helado artesanal, desde los clásicos como vainilla, fresa y chocolate, hasta opciones más innovadoras como pistacho, galleta de chispas de chocolate y nutella. También ofrecemos opciones sin azúcar añadida y opciones veganas.</p>
            <h2 class="m-0 mb-2">¿Cuáles son los horarios de servicio?</h2>
            <p style="text-align: justify">Nuestras tiendas están abiertas todos los días de la semana de 10am a 8pm. Los horarios pueden variar según la ubicación, por lo que te recomendamos verificar el horario específico comunícandote con nosotros por teléfono.</p>
            <h2 class="m-0 mb-2">¿Ofrecen opciones de catering para eventos?</h2>
            <p style="text-align: justify">¡Por supuesto! Ofrecemos opciones de helado para catering de eventos, incluyendo opciones de helado en barra y helado en recipientes. También podemos personalizar los sabores y la presentación para adaptarnos a las necesidades de tu evento. Ponte en contacto con nosotros con anticipación para coordinar y discutir opciones.</p>
            <h2 class="m-0 mb-2">¿Qué métodos de pago aceptan?</h2>
            <p style="text-align: justify">Aceptamos tarjetas de crédito y débito, así como efectivo. También ofrecemos opciones de pago en línea para pedidos en línea y entregas a domicilio.</p>
            <h2 class="m-0 mb-2">¿Ofrecen opciones para personas con alergias o intolerancias alimentarias?</h2>
            <p style="text-align: justify">Sí, ofrecemos opciones para personas con alergias o intolerancias alimentarias. Tenemos opciones de helado sin lactosa y sin gluten, así como opciones veganas. Por favor, haznos saber de antemano tus necesidades dietéticas específicas y haremos todo lo posible para acomodarte.</p>
        </div>
        <div class="col-12 col-xl-6 d-flex justify-content-center w-full p-0">
            <img src="/img/about_us.jpg" class="rounded-b-lg w-full xl:rounded-bl-none xl:rounded-e-lg img-fluid cover" alt="" srcset="" />
        </div>
    </div>
</main>
</body>
</html>
