<%- include('../partials/main') %>
		<main class="container full-screen py-12">
			<div class="row bg-[#98FB98] rounded-lg shadow-lg">
				<div class="col-12 col-xl-6 p-4">
					<h1 class="m-0 mb-2">Nuestra empresa</h1>
					<h2 class="m-0 mb-2">Historia de la empresa</h2>
					<p style="text-align: justify">Helados Arias fue fundada en 1949 por Luis Angel Arias y su esposa Carmen, en Mazatlán, Sinaloa. La compañía comenzó vendiendo helados artesanales y pronto se hizo popular por su sabor único y la calidad de sus ingredientes. Con el tiempo, la compañía se expandió para incluir una variedad de productos helados y postres congelados, y hoy en día es una de las marcas más reconocidas y queridas en Mazatlán, Sinaloa.</p>
					<h2 class="m-0 mb-2">Cultura de la empresa</h2>
					<p style="text-align: justify">En Helados Arias, nos enorgullecemos de nuestra cultura centrada en el cliente y la calidad. Creemos en utilizar ingredientes frescos y naturales para hacer nuestros productos, y en ofrecer un servicio excepcional a nuestros clientes. También valoramos la diversidad y la inclusión, y nos esforzamos por crear un ambiente de trabajo positivo y colaborativo para nuestros empleados. Finalmente, nos apasiona nuestra comunidad y nos esforzamos por ser un buen ciudadano corporativo a través de diversas iniciativas sociales y ambientales. En resumen, nuestra cultura es la base de todo lo que hacemos y es lo que nos permite seguir creciendo y mejorando cada día.</p>
					<h2 class="m-0 mb-2">Responsabilidad social</h2>
					<p style="text-align: justify">En Helados Arias, nos comprometemos a ser un ciudadano corporativo responsable y a contribuir positivamente a nuestra comunidad. Como parte de nuestra responsabilidad social, apoyamos diversas iniciativas y causas locales que tienen un impacto significativo en la vida de las personas en Mazatlán y Sinaloa. Algunas de las iniciativas en las que hemos participado incluyen programas de educación, salud, deportes y medio ambiente. También nos esforzamos por trabajar con proveedores locales y reducir nuestro impacto ambiental en nuestras operaciones.</h2>
					<h2 class="m-0 mb-2">Alianzas y colaboraciones</h2>
					<p style="text-align: justify">En Helados Arias, creemos en el valor de las alianzas y colaboraciones para alcanzar objetivos comunes y crear un impacto positivo. En Mazatlán y en Sinaloa, hemos trabajado en estrecha colaboración con otras empresas y organizaciones para desarrollar iniciativas conjuntas, compartir recursos y conocimientos, y ampliar nuestro alcance. Algunas de las alianzas y colaboraciones que hemos llevado a cabo incluyen la participación en eventos comunitarios, la promoción de actividades de turismo y la colaboración con organizaciones locales sin fines de lucro. Estamos abiertos a colaboraciones y alianzas futuras que nos permitan contribuir aún más a nuestra comunidad y crear un impacto positivo duradero.</p>
				</div>
				<div class="col-12 col-xl-6 d-flex justify-content-center w-full p-0">
					<img src="/img/about_us.jpg" class="rounded-b-lg w-full xl:rounded-bl-none xl:rounded-e-lg img-fluid cover" alt="" srcset="" />
				</div>
			</div>
		</main>
    </body>
</html>
