<%- include('../partials/main') %>
<main class="container">
	<div class="flex flex-row p-8 overflow-x-scroll gap-x-8" id="cards"></div>

	<div class="my-6">
		<div class="bg-gray-300 w-full py-3 px-6 uppercase font-bold">
			<h3 class="m-0">Carrito de compras</h3>
		</div>
		<table class="w-full table-auto">
			<thead class="hidden" id="thead">
				<tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
					<th class="py-3 px-6 text-left">Productos</th>
					<th class="py-3 px-6 text-left">Cantidad</th>
					<th class="py-3 px-6 text-center">Total</th>
				</tr>
			</thead>
			<tbody class="text-gray-600 text-sm font-light overflow-x-scroll" id="items"></tbody>
		</table>
		<footer class="bg-gray-300 w-full py-3 px-6 uppercase font-semibold" id="footer"></footer>
	</div>
</main>

<template id="template-card">
	<div class="w-full relative max-w-xs mx-auto bg-white rounded-3xl shadow-xl overflow-hidden flex-shrink-0">
		<div class="max-w-md mx-auto">
			<img class="h-[236px] w-full object-cover bg-center" />
			<div class="p-4 sm:p-6">
				<h5 class="font-bold text-gray-700 text-[22px] leading-7 mb-1">Nombre</h5>
				<p class="text-[17px] font-bold text-[#0FB478]">Precio</p>
				<p class="text-[#7C7C80] text-[15px] mt-4">Descripcion</p>
				<p class="text-[#7C7C80] text-[13px] mt-1 mb-12">Stock</p>
				<button
					class="block absolute end-0 text-white bottom-0 w-full px-4 py-3 font-medium tracking-wide text-center capitalize transition-colors duration-300 ease-in-out active:bg-[#0077b6] transform bg-[#00b4d8] rounded-b-[14px] hover:bg-[#0096c7] focus:outline-none focus:ring focus:ring-teal-300 focus:ring-opacity-80">
					Añadir al carrito
				</button>
			</div>
		</div>
	</div>
</template>

<template id="template-footer">
	<div class="grid gap-4 grid-cols-5">
		<div class="flex gap-y-1 flex-col">
			<span>Total</span>
			<span aria-label="Total" class="font-weight-bold">$5000</span>
		</div>
		<div class="flex flex-col gap-y-1 col-span-2">
			<label for="metodo-pago">Método de pago:</label>
			<select id="metodo-pago" class="form-select" name="metodo-pago">
				<option value="tarjeta">Tarjeta de crédito</option>
				<option value="paypal">PayPal</option>
				<option value="transferencia">Transferencia bancaria</option>
			</select>
		</div>
		<div class="flex flex-col md:flex-row md:gap-y-0 md:gap-x-2 gap-y-2 col-span-2">
			<button class="block bg-red-600 text-white px-4 py-2 rounded-md text-1xl font-medium hover:bg-red-700 transition duration-300" id="vaciar-carrito">Vaciar carrito</button>
			<button type="button" class="block bg-green-600 text-white px-4 py-2 rounded-md text-1xl font-medium hover:bg-green-700 transition duration-300" onclick="comprar()">Comprar</button>
		</div>
	</div>
</template>

<template id="template-carrito">
	<tr class="border-b border-gray-200 hover:bg-gray-100 odd:bg-gray-50 even:bg-white">
		<th class="py-3 px-6 text-left whitespace-nowrap">
			<span class="font-bold" scope="row" aria-label="Producto">Producto</span>
		</th>
		<td class="py-3 px-6 text-left flex flex-row gap-x-2">
			<button class="border-2 border-red-600 text-black px-4 py-2 rounded-md font-bold hover:bg-red-600 transition duration-300" aria-label="btnDisminuir">-</button>
			<span class="font-semibold form-control !w-24 text-center" scope="row" data-id="" aria-label="Cantidad">Cantidad</span>
			<button class="border-2 border-blue-500 text-black px-4 py-2 rounded-md font-bold hover:bg-blue-600 transition duration-300" aria-label="btnAumentar">+</button>
		</td>
		<td class="py-3 px-6 text-center">
			<span class="font-semibold" scope="row" aria-label="Total">Total</span>
		</td>
	</tr>
</template>
<script src="/js/mainCarrito.js"></script>
