<%- include('../partials/login') %>
<main class="relative flex vpheight text-gray-800 antialiased flex-col justify-center overflow-hidden bg-[#87CEFA] py-6 sm:py-12">
	<form action="/login" method="POST" class="relative py-3 sm:w-96 mx-auto text-center">
		<h2 class="text-2xl font-light">Iniciar Sesion</h2>
		<div class="mt-4 bg-[#98FB98] shadow-md rounded-lg text-left">
			<div class="h-2 bg-[#FFFF00] rounded-t-md"></div>
			<div class="px-8 py-6">
				<label class="block font-semibold"> Correo </label>
				<input type="email" id="email" name="email" required placeholder="Introduce tu correo" class="border w-full p-3 mt-2 hover:outline-none focus:outline-none focus:ring-blue-700 focus:ring-1 rounded-md" />
				<label class="block mt-3 font-semibold"> Contraseña </label>
				<input type="password" id="password" name="password" required placeholder="Introduce tu contraseña" class="border w-full p-3 mt-2 hover:outline-none focus:outline-none focus:ring-blue-700 focus:ring-1 rounded-md" />
				<div class="flex justify-between items-baseline">
					<button type="submit" class="mt-4 bg-[#FFFF00] text-black font-sans font-medium py-2 px-6 rounded-md transition-all ease-in-out duration-300 hover:bg-[#FFD700]">Login</button>
					<a href="/register" class="text-sm hover:underline">¿No tienes una cuenta?</a>
				</div>
			</div>
		</div>
	</form>
</main>