<%- include('../partials/login') %>
<main class="relative flex vpheight text-gray-800 antialiased flex-col justify-center overflow-hidden bg-[#87CEFA] py-6 sm:py-12">
	<form action="/register" method="POST" autocomplete="no" class="relative py-3 sm:w-96 mx-auto text-center">
		<h2 class="text-2xl font-light">Registro</h2>
		<div class="mt-4 bg-[#98FB98] shadow-md rounded-lg text-left">
			<div class="h-2 bg-[#FFFF00] rounded-t-md"></div>
			<div class="px-8 py-6">
				<p class="text-lg font-light text-center">Introduce tus Datos</p>
				<label class="block font-semibold" for="name"> Nombre </label>
				<input type="text" id="name" name="name" required placeholder="Introduce tu nombre" class="border w-full p-3 mt-2 hover:outline-none focus:outline-none focus:ring-blue-700 focus:ring-1 rounded-md" />
				<label class="block mt-3 font-semibold" for="email"> Correo </label>
				<input type="email" id="email" name="email" required placeholder="Introduce tu correo" class="border w-full p-3 mt-2 hover:outline-none focus:outline-none focus:ring-blue-700 focus:ring-1 rounded-md" />
				<label class="block mt-3 font-semibold" for="password"> Contraseña </label>
				<input type="password" id="password" name="password" required placeholder="Introduce tu contraseña" class="border w-full p-3 mt-2 hover:outline-none focus:outline-none focus:ring-blue-700 focus:ring-1 rounded-md" />
				<label class="block mt-3 font-semibold" for="domicilio"> Domicilio </label>
				<input type="text" id="domicilio" name="domicilio" required placeholder="Introduce tu domicilio" class="border w-full p-3 mt-2 hover:outline-none focus:outline-none focus:ring-blue-700 focus:ring-1 rounded-md" />
				<label class="block mt-3 font-semibold" for="telefono"> Teléfono </label>
				<input type="tel" id="telefono" name="telefono" required placeholder="Introduce tu telefono" class="border w-full p-3 mt-2 hover:outline-none focus:outline-none focus:ring-blue-700 focus:ring-1 rounded-md" />
				<div class="flex justify-between items-baseline">
					<button type="submit" class="mt-4 bg-[#FFFF00] text-black font-sans font-medium py-2 px-6 rounded-md transition-all ease-in-out duration-300 hover:bg-[#FFD700]">Registrarse</button>
					<a href="/login" class="text-sm hover:underline">¿Ya tienes una cuenta?</a>
				</div>
			</div>
		</div>
	</form>
</main>
